PORT=5000
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/cgpa-checker
CLERK_SECRET_KEY=sk_test_4aj5qvBMuhCrC0A15ZfirTKjR6Yc7VOGdhKu6qu9lJ
CLERK_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxxxxxxxxxx
CLIENT_URL=http://localhost:5173
